- **Resource Type:** `{{ resource.resource_type }}`
- **Instance ID:** `{{ resource.instance_id }}`
{% if resource.public_ip -%}
- **Public IP:** `{{ resource.public_ip }}`
{% endif -%}
{% if resource.vpc_id -%}
- **VPC ID:** `{{ resource.vpc_id }}`
{% endif -%}
{% if resource.instance_type -%}
- **Instance Type:** `{{ resource.instance_type }}`
{% endif -%}
{% if resource.image_id -%}
- **Image ID:** `{{ resource.image_id }}`
{% endif -%}
{% if resource.iam_profile_arn -%}
- **IAM Profile:** `{{ resource.iam_profile_arn }}`
{% endif -%}
{% if resource.tags -%}
- **Tags:**
    ```
    {% for tag in resource.tags -%}
    - {{ tag.Key }}: {{ tag.Value }}
    {% endfor %}
    ```
{%- endif %}