{
  "event_type": "playbook_started",
  "playbook_name": "{{ playbook_name }}",
  "finding": {
    "id": "{{ finding.Id }}",
    "type": "{{ finding.Type }}",
    "severity": {{ finding.Severity }},
    "account_id": "{{ finding.AccountId }}",
    "region": "{{ finding.Region }}",
    "title": "{{ finding.Title | replace('"', '\\"') }}"
  },
  "resource": {{ resource.model_dump_json() | safe}}
}